@media screen and (max-width: 580px) {
    .menu-wrapper {
        flex-direction: column;
    }

    .menu-element {
        justify-content: space-between;
        margin: 0;
        width: 240px;
    }

    .menu-element > a {
        justify-content: space-between;
        margin: 0 0 2px 0;
        margin: 0;
        width: 200px;
    }

    .menu-vl {
        margin: 0 10px;
    }

    .menu-vl.mobile {
        display: block;
    }

    .refferal-title {
        font-size: 30px;
    }

    .refferal-wrapper > span {
        font-size: 17px;
    }

    .refferal-link {
        font-size: 17px;
    }
}

@media screen and (max-width: 420px) {
    .logo-hl {
        width: 150%;
    }
    
}

@media screen and (max-width: 400px) {
    header .logo > span:first-child {
        font-size: 50px;
    }

    header .logo > span:last-child {
        font-size: 30px;
    }

    header .logo > span>span {
        margin: 0px 22px;
    }

    .sublogo-wrapper > span {
        font-size: 14px;
    }
}

@media screen and (max-width: 330px) {
    header .logo > span:last-child {
        font-size: 29px;
    }

    header .logo > span>span:first-child {
        right: 4px;
    }
    header .logo > span>span:last-child {
        left: 4px;
    }
}
