@media screen and (max-width: 815px) {
    header {
        background: linear-gradient(0deg, #ffffff00, #3e3e3e 75%, #2a78cc69 80%, #ffffff00 110%);
    }

    .menu-wrapper {
        flex-direction: column;
        background: transparent;
        box-shadow: none;
    }

    .menu-element {
        display: flex;
        padding: 5px;
        height: 39px;
        border-radius: 7px;
        border: 2px solid #fff;
        margin: 0;
        width: 259px;
        border: 2px solid #38507c;
        box-sizing: border-box;
        margin-bottom: 8px;
        justify-content: center;
        background: #000;
    }

    .menu-element > a {
        font-size: 16px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .menu-element:last-child > a {
        padding-right: 0px;
    }

    .menu-element > a > span {
        font-size: 21px;
        margin-left: 3px;
    }

    .menu-vl.mobile {
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .refferal-title {
        font-size: 30px;
    }

    .refferal-wrapper > span {
        font-size: 17px;
    }

    .refferal-link {
        font-size: 17px;
    }
}

@media screen and (max-width: 420px) {
    .logo-hl {
        width: 150%;
    }
    
}

@media screen and (max-width: 400px) {
    header .logo > span:first-child {
        font-size: 50px;
    }

    header .logo > span:last-child {
        font-size: 30px;
    }

    header .logo > span>span {
        margin: 0px 22px;
    }

    .sublogo-wrapper > span {
        font-size: 13px;
    }
}

@media screen and (max-width: 330px) {
    header .logo > span:last-child {
        font-size: 29px;
    }

    header .logo > span>span:first-child {
        right: 4px;
    }
    header .logo > span>span:last-child {
        left: 4px;
    }
}
