@font-face {
    font-family: "CarterOne";
    src: url("../fonts/CarterOne/CarterOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    overflow-x: hidden;
}

.body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    background: linear-gradient(0deg, #ffffff00, #000000 90%);
    padding-top: 10px;
}

header .logo-wrapper {
    display: flex;
    justify-content: center;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "CarterOne";
    color: #f4faff
}

header .logo > span {
    text-align: center;
}

header .logo > span:first-child {
    font-size: 60px;
    margin-bottom: -5px;
}

header .logo > span:last-child {
    font-size: 40px;
}

header .logo-hl {
    margin: 5px 0;
    height: 2px;
    width: 300%;
    background: linear-gradient(90deg, #ffffff00, #f4faff, #ffffff00);
}

.sublogo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sublogo-wrapper > span {
    padding-top: 5px;
    font-size: 20px;
    letter-spacing: 0.8px;
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
}

.sublogo-wrapper > span:first-child {
    color: #1260ef;
}

.sublogo-wrapper > span:nth-child(2) {
    color: #e15151;
    margin: 0 25px;
}

.sublogo-wrapper > span:last-child {
    color: #ffcc00;
}

.social-and-connect-wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-button {
    width: 175px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f5deb3;
    border-radius: 10px;
    background: #ffffff00;
    transition: border-color 0.5s ease;
}

.connect-button.disconnected {
    cursor: pointer;
}

.connect-button.disconnected:hover {
    border-color: #f5deb390;
}

.connect-button > img {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    transition: opacity 0.5s ease;
}

.connect-button.disconnected:hover > img {
    opacity: 75%;
}

.connect-button > span {
    padding-top: 3px;
    margin: 0 10px;
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
    transition: color 0.25s ease;
}

.connect-button.connected > span {
    color: #eb9900;
}

.connect-button.disconnected:hover > span {
    color: #eb9900;
}

.social-telegram {
    margin-left: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid #f5deb3;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}

.social-telegram:hover {
    border-color: #f5deb390;
}

.social-telegram > a {
    display: block;
    height: 100%;
    width: 100%;
    filter: invert(88%) sepia(0%) saturate(6663%) hue-rotate(329deg) brightness(125%) contrast(104%);
    background: url(../img/social/telegram.svg);
    background-size: 100% 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.social-telegram:hover > a {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
}

.social-bsc {
    margin-left: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid #f5deb3;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}

.social-bsc:hover {
    border-color: #f5deb390;
}

.social-bsc > a {
    display: block;
    height: 100%;
    width: 100%;
    filter: invert(88%) sepia(0%) saturate(6663%) hue-rotate(329deg) brightness(125%) contrast(104%);
    background: url(../img/social/bsc.svg);
    background-size: 100% 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.social-bsc:hover > a {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
}

.social-github {
    margin-left: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid #f5deb3;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}

.social-github:hover {
    border-color: #f5deb390;
}

.social-github > a {
    display: block;
    height: 100%;
    width: 100%;
    filter: invert(88%) sepia(0%) saturate(6663%) hue-rotate(329deg) brightness(125%) contrast(104%);
    background: url(../img/social/github.svg);
    background-size: 100% 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.social-github:hover > a {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
}

.menu-wrapper {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-element {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.menu-element > a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.25s ease;
}

.menu-element:hover > a {
    color: #eb9900;
}

.menu-vl {
    margin-right: 10px;
    height: 30px;
    width: 2px;
    background: linear-gradient(0deg, #ffffff00, #f5deb3, #ffffff00);
}

.menu-vl:last-child {
    margin-left: 10px;
}

.menu-vl.mobile {
    display: none;
}

.section-videoreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-videoreview-wrapper {
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoreview-title {
    display: none;
    font-family: 'Roboto';
    color: #f5deb3;
    font-size: 35px;
    text-align: center;
}

.video-container {
    margin-top: 10px;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    width: 100%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-refferal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-refferal-wrapper {
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #ffffff00, #000000, #ffffff00);
}

.refferal-title {
    font-family: 'Roboto';
    color: #f4faff;
    font-size: 35px;
    text-align: center;
}

.refferal-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.refferal-wrapper > span {
    padding-top: 5px;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.refferal-wrapper > span > span {
    color: #eb9900;
    font-weight: bold;
}

.refferal-link-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5deb3;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.refferal-link {
    display: inline-block;
    font-family: 'Roboto';
    color: #ffffffaa;
    font-size: 20px;
}

.refferal-link-wrapper.enable .refferal-link {
    cursor: pointer;
    color: #eb9900;
}

.refferal-link-wrapper.enable .refferal-link:hover {
    color: #ff8800;
}

.button-copy {
    width: 20px;
    height: 20px;
    position: relative;
    background: transparent;
    border: 0px;
    margin-left: 3px;
}

.button-copy::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/copy.svg);
    background-position: top center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    background-repeat: no-repeat;
}

.refferal-link-wrapper.enable .button-copy:hover::after {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
    cursor: pointer;
}

.section-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contacts-wrapper {
    background: linear-gradient(90deg, #ffffff00, #000000, #ffffff00);
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-title {
    font-family: 'Roboto';
    color: #f4faff;
    font-size: 35px;
    text-align: center;
}

.contacts-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-row {
    background: #ffffff1a;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
    width: 49.7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    border-radius: 10px;
}

.contacts-row:last-child {
    display: flex;
    justify-content: center;
    height: 60px;
}

.contacts-row > span {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 20px;
}

.contacts-row.contact-chat > .contact-row-span-column > span {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 20px;
}

.contact-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts-row.support-chat > .contact-row-span-column > span {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 20px;
}

.support-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts-row.channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts-row.channel > .contact-row-span-column > span {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 20px;
}

.contacts-row.bsc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts-row.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-row-span-column {
    display: flex;
    flex-direction: column;
}

.contacts-row > span > a {
    text-decoration: none;
    font-weight: bold;
    color: #ffcc00;
    transition: color 0.25s ease;
}

.contacts-row > span > a:hover {
    color: #eb9900;
}

.contacts-hl {
    margin: 10px 0;
    height: 1px;
    width: 30%;
    background: linear-gradient(90deg, #ffffff00, #f5deb3, #ffffff00);
}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #000000, #ffffff00);
}

.footer-wrapper {
    background: linear-gradient(90deg, #ffffff00, #000000, #ffffff00);
    padding: 25px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo {
    display: flex;
    flex-direction: row;
    font-family: "CarterOne";
    font-size: 25px;
    color: #f4faff;
}
