@font-face {
    font-style: normal;
    font-family: "CarterOne";
    font-weight: normal;
    src: url("../fonts/CarterOne/CarterOne-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: normal;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
    font-display: swap;
}

html {
    overflow-x: hidden;
}

.contacts-section {
    padding-top: 25px;
    z-index: 2;
    background: linear-gradient(90deg, #ffffff00, #000000, #ffffff00);
}

.contacts-section span {
    color: #fff;
}

.contacts-section li {
    border: 2px solid #38507c;
    border-radius: 10px;
    background: #000;
}

.contacts-section>div {
    background: #00000096;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.contacts-section li>div>button {
    border: 1px solid #fff;
    background: black;
    transition: border 500ms ease-out, background-color 0.5s ease;
}

.contacts-section li>div>button:hover {
    border: 1px solid #000;
    background: #fff;
}

.contacts-section li>div>button:hover > span {
    color: #f7630c;
}

.contacts-section .social {
    border: 2px solid #fff;
    background: #000;
    transition: border 500ms ease-out, background-color 0.5s ease;
}

.contacts-section .social:hover {
    border-color: #000;
}

.contacts-section .social > a {
    filter: invert(100%) sepia(14%) saturate(95%) hue-rotate(186deg) brightness(115%) contrast(100%);
}

.contacts-section .social:hover > a {
    filter: invert(57%) sepia(29%) saturate(7158%) hue-rotate(351deg) brightness(94%) contrast(107%);
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #12141e 100%);
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    z-index: 2;
    background: linear-gradient(0deg, #ffffff00, #3e3e3e 63%, #2a78cc69 70%, #ffffff00 110%);
    padding-top: 25px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo-wrapper {
    display: flex;
    justify-content: center;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "CarterOne";
    color: #f4faff;
}

header .logo > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
    font-size: 60px;
    text-align: center;
}

header .logo > span>span {
    position: relative;
    bottom: 11px;
    transform: rotate(180deg);
    margin: 0 9px;
}


header .logo .rocket{
    position: relative;
    top: 8px;
    transform: rotate(-45deg);
    height: 60px;
    width: 60px;
}

header .logo .rocket>span {
    display: block;
    background: url(../img/rocket.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 100%;
    width: 100%;
}

header .logo > span:first-child {
    margin-bottom: -5px;
    font-size: 60px;
}

header .logo > span:last-child {
    font-size: 40px;
}

header .logo-hl {
    margin: 5px 0;
    background: linear-gradient(90deg, #ffffff00, #f4faff, #ffffff00);
    height: 1px;
    width: 95%;
}

.sublogo-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sublogo-wrapper > span {
    padding-top: 5px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.sublogo-wrapper > span:first-child {
    color: #2a78cc;
}

.sublogo-wrapper > span:nth-child(2) {
    color: #f7630c;
}

.sublogo-wrapper > span:last-child {
    color: #fce100;
}

.social-and-connect-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 80%;
}

.connect-button-wrapper {
    z-index: 10;
}

.connect-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #38507c;
    border-radius: 10px;
    background: #000;
    width: 210px;
    padding: 5px;
    transition: border-color 0.5s ease;
}

.connect-button > img {
    opacity: 75%;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    transition: opacity 0.5s ease;
}

.connect-button > span {
    width: 70%;
    display: flex;
    align-items: center;
}


.connect-button > span > span {
    padding-top: 2px;
}

.connect-button > span > span:first-child {
    position: relative;
    font-family: "Roboto";
    font-weight: bold;
    transition: color 0.25s ease;
}

.connect-button > span > span:last-child {
    margin-left: 4%;
    transition: font-size 0.5s ease;
}

.connect-button.disconnected {
    cursor: pointer;
}

.connect-button.disconnected:hover {
    border-color: #f7630c;
}

.connect-button.disconnected.hover {
    border-color: #f7630c;
}

.connect-button.disconnected > span > span:first-child {
    right: 4px;
    color: #ffffff;
}

.connect-button.disconnected:hover > span > span:last-child {
    font-size: 18px;
}

.connect-button.disconnected:hover > img {
    opacity: 100%;
}

.connect-button.disconnected.hover > img {
    opacity: 100%;
}

.connect-button.connected {
    border-color: #38507cbb;
}

.connect-button.connected > span > span:first-child {
    right: 0px;
    color: #f7630c;
}

.connect-button.connected > img {
    opacity: 100%;
}

.connect-button.disconnected:hover > span  > span:first-child {
    color: #306daf;
}

.social-telegram {
    border: 2px solid #38507c;
    border-radius: 10px;
    margin-left: 10px;
    background: #000;
    height: 25px;
    width: 25px;
    padding: 5px;
    transition: border-color 0.5s ease;
}

.social-telegram:hover {
    border-color: #38507cbb;
}

.social-telegram > a {
    filter: invert(88%) sepia(0%) saturate(6663%) hue-rotate(329deg) brightness(125%) contrast(104%);
    display: block;
    background: url(../img/social/telegram.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 100%;
    width: 100%;
}

.social-telegram:hover > a {
    filter: invert(57%) sepia(29%) saturate(7158%) hue-rotate(351deg) brightness(94%) contrast(107%);
}

.social-bsc {
    border: 2px solid #f5deb3;
    border-radius: 10px;
    margin-left: 10px;
    background: #000000;
    height: 25px;
    width: 25px;
    padding: 5px;
    transition: border-color 0.5s ease;
}

.social-bsc:hover {
    border-color: #f5deb390;
}

.social-bsc > a {
    filter: invert(88%) sepia(0%) saturate(6663%) hue-rotate(329deg) brightness(125%) contrast(104%);
    display: block;
    background: url(../img/social/bsc.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 100%;
    width: 100%;
}

.social-bsc:hover > a {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
}

.social-github {
    border: 2px solid #f5deb3;
    border-radius: 10px;
    margin-left: 10px;
    background: #000000;
    height: 25px;
    width: 25px;
    padding: 5px;
    transition: border-color 0.5s ease;
}

.social-github:hover {
    border-color: #f5deb390;
}

.social-github > a {
    filter: invert(88%) sepia(0%) saturate(6663%) hue-rotate(329deg) brightness(125%) contrast(104%);
    display: block;
    background: url(../img/social/github.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 100%;
    width: 100%;
}

.social-github:hover > a {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    background: #000;
    box-shadow: 0px -5px 10px #2a78cc69;
}

.menu-element {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.menu-element > a {
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.25s ease;
    letter-spacing: 0.5px;
}

.menu-element:last-child > a {
    padding-right: 20px;
}

.menu-element > a > spna{
    font-size: 30px;
}

.menu-element:hover > a {
    color: #f7630c;
}

.menu-vl {
    margin-right: 10px;
    background: linear-gradient(0deg, #ffffff00, #f7630c, #ffffff00);
    height: 30px;
    width: 1px;
}

.menu-vl:last-child {
    margin-right: 0px;
}

.section-videoreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-videoreview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 300px;
    padding-top: 10px;
}

.videoreview-title {
    display: none;
    font-family: 'Roboto';
    font-size: 35px;
    color: #f5deb3;
    text-align: center;
}

.video-container {
    position: relative;
    margin-top: 10px;
    height: 0;
    /* 16:9 */
    width: 100%;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.section-refferal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    z-index: 2;
    background: linear-gradient(90deg, #ffffff00, #000000, #ffffff00);
}

.section-refferal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00000096;
    width: 80%;
    min-width: 300px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.refferal-title {
    font-family: 'Roboto';
    font-size: 35px;
    color: #f4faff;
    text-align: center;
}

.refferal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.refferal-wrapper > span {
    padding-top: 5px;
    font-family: "Roboto";
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.refferal-wrapper > span > span {
    font-weight: bold;
    color: #eb9900;
}

.refferal-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #38507c;
    border-radius: 10px;
    margin-bottom: 5px;
    background: #000;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    z-index: 10;
}

.refferal-link {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 20px;
    color: #ffffffaa;
}

.refferal-link-wrapper.enable .refferal-link {
    color: #eb9900;
    cursor: pointer;
}

.refferal-link-wrapper.enable .refferal-link:hover {
    color: #ff8800;
}

.button-copy {
    position: relative;
    border: 0px;
    margin-left: 3px;
    background: transparent;
    height: 20px;
    width: 20px;
}

.button-copy::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    background-image: url(../img/copy.svg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.refferal-link-wrapper.enable .button-copy:hover::after {
    filter: invert(64%) sepia(43%) saturate(4788%) hue-rotate(11deg) brightness(104%) contrast(101%);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #000000, #ffffff00);
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ffffff00, #000000, #ffffff00);
    width: 80%;
    min-width: 300px;
    padding: 25px 0px;
}

footer .logo {
    display: flex;
    flex-direction: row;
    font-family: "CarterOne";
    font-size: 25px;
    color: #f4faff;
}
